numpy~=1.19.0
Box2D
gym[all]~=0.18
tensorflow==2.4.0
tensorflow_datasets
mujoco-py==2.1.2.14
mpi4py~=3.0.3

nvidia_smi
nvidia-ml-py3
tqdm~=4.59.0
simplejson~=3.17.2
pydot
graphviz
psutil
scipy
sklearn
Flask~=1.1.2
Flask-JSGlue
argcomplete
matplotlib
scikit-learn~=0.24.1
pandas==1.0.4
seaborn
bokeh
distance