# tensorflow==2.3.1
mujoco-py<1.50.2,>=1.50.1
mpi4py~=3.0.3

tqdm~=4.49.0
numpy~=1.18.5
simplejson~=3.17.2
pydot
graphviz
psutil
scipy~=1.4.1
sklearn~=0.0
Flask~=1.1.2
Flask-JSGlue
argcomplete~=1.12.0
gym~=0.17.2
Box2D
matplotlib~=3.3.2

horovod~=0.20.3
scikit-learn~=0.23.2