<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{% endblock %}</title>
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
          integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"
            integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4=" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">

    <!--  PLOTTING LIBRARY  -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    {{ JSGlue.include() }}

</head>

<body>

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3><i class="fas fa-flask"></i></h3>
            <h3>Experiment Monitor</h3>
        </div>

        {% block side_nav %}

        {% endblock %}

        <ul class="list-unstyled CTAs">
            <li>
                <a href="{{ url_for("overview") }}" class="button-control">
                    <i class="fas fa-list"></i> Overview
                </a>
            </li>
            <li>
                <a href="https://github.com/ccnmaastricht/dexterous-robot-hand" class="button-control" target="_blank">
                    <i class="fab fa-github"></i> Repository
                </a>
            </li>
        </ul>

    </nav>

    <!-- Page Content -->
    <div id="content">
        <div class="main-title">
            <div class="justify-content-center">
                {% block inpage_title %}
                <h1 class="display-3"> A Title </h1>
                <h3> A Subtitle </h3>
                {% endblock %}
            </div>
        </div>

        {% block page_content %}

        <div class="topic-group">
            TEST
        </div>

        {% endblock %}

    </div>
</div>


<!--JQUERY-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--POPPER-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<!--BOOTSTRAP-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<!--CUSTOM SCROLLBAR-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<!--LODASH-->
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>

<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.1.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.1.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.1.min.js"></script>

{% block js_footer %}{% endblock %}

<script>
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({theme: "minimal"});
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });

    $("nav ul li").on("click", function () {
        $("nav").find(".active").removeClass("active");
        $(this).addClass("active");
    });

    $(".reload-button").on("click", function () {
        location.reload();
    });
</script>

</body>
</html>