body {
    font-family: 'Fira Sans', sans-serif;
}

.main-title {
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;

    width: 100%;
    text-align: center;

    color: white;
    background-color: #295ea7;
}

.fit-div {
    height: 100%;
    width: 100%;
    object-fit: contain
}

.sub-title {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

    /*border: 1px solid darkcyan;*/
    /*border-radius: 15px;*/
    /*background-color: lightcyan;*/
}

.iteration-block {
    margin: 0 auto;
    text-align: center;
}

.plot-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.plot-block {
    text-align: center;
}

.hp-box {
    margin: 0 auto;

    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;

    width: 60%;
}

.hp-element-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: flex-start;
    flex-direction: row;
}

.hp-element {
    background-color: cornflowerblue;
    border-radius: 15px;
    color: white;
    padding: 10px;
}