{% extends "layout.html" %}
{% block title %} Comparison {% endblock %}

<!-- Page Content -->
{% block inpage_title %}
    <h3>Group Analysis</h3>
    <h1 class="mt-3" id="agentId"> {{ info.group_name }} </h1>
{% endblock %}

{% block side_nav %}
        <ul class="list-unstyled components">
            <li class="active"><a href="#statistics-view">Training Statistics</a></li>
            <li><a href="#hp-view">Hyperparameters</a></li>
            <li><a href="#episode-gifs-view">Episode GIFs</a></li>
            <li><a href="#model-view">Network Graph</a></li>
        </ul>
{% endblock %}

{% block page_content %}

    <div class="topic-group">
        <div class="row justify-content-center">
            <div class="col col-12">
                <div id="grouped-reward-plot">
                    {{ info.plots.reward_grouped[0]|safe }}
                    {{ info.plots.reward_grouped[1]|safe }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_footer %}

<script>
    $('.carousel').carousel();

    $("nav ul li").on("click", function () {
        $("nav").find(".active").removeClass("active");
        $(this).addClass("active");
    });

    $(".reload-button").on("click", function () {
        console.log("jo");
        location.reload();
    });

</script>

{% endblock %}
